<h1><%= @answering_body.name %></h1>

<h2>Latest 20 answers</h2>

<%= content_tag( 'p', link_to( 'RSS', answering_body_show_url( :answering_body => @answering_body, :format => 'rss' ) ) ) %>

<ol class="no-numbers">
	<%= render :partial => 'answer/answer', :collection => @answering_body.questions %>
</ol>

<p><a href='<%= "https://questions-statements.parliament.uk/written-questions?AnsweringBodyId=#{@answering_body.mnis_id}&Expanded=True" %>'>All answers &rarr; questions-statements.parliament.uk</a></p>
