# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
# This workflow will download a prebuilt Ruby version, install dependencies, and  run linters
name: Rails - Install dependencies and run linters

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  run-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Setup Ruby and install gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install bundler-audit
        run: gem install bundler-audit brakeman # rubocop rubocop-rails rubocop-performance

      - name: Run security checks
        run: |
          bundler-audit --update
          brakeman -q -w2

      - name: Run zeitwerk checks
        run: bundle exec rails zeitwerk:check
      