<!DOCTYPE html>
<html>
  <head>
    <title>Written answers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    body {font-family: sans-serif;padding:1rem;max-width:42rem;line-height:1.4;margin:1rem auto;font-size:1.2rem;}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
