<!DOCTYPE html>
<html>
  <head>
    <title>Written answers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <style>
    body {font-family: system-ui,sans-serif;padding:1rem;max-width:42rem;line-height:1.4;margin:1rem auto;font-size: 1.2rem;}
    a {text-decoration:none;}
    a:hover {text-decoration:underline;}
    h1, h2, h3 {font-weight:normal;}
    ol.no-numbers {
  list-style: none;
  padding-left:0;
}
ol.no-numbers li {
	margin-bottom: .5em;
}
    </style>
  </head>
  <body>
	  testing
  
  <header>
  <nav>

	<%= content_tag( 'span', link_to( 'Answering bodies', answering_body_list_url ) ) %>
	&nbsp;
	<%= content_tag( 'span', link_to( 'Members', member_list_url ) ) %>

  </nav>
  </header>
  
  <main>
    <%= yield %>
    </main>
    
    <footer>
    </footer>
  </body>
</html>
